<div id="comments_new">
  <% define_check = defined? site %>
  <% unless define_check.nil? %>
    <%= form_with(model:[map,site,comment],remote:true,method: :post) do |form| %>
      <div id="comment_field">
        <%= form.label :content, t('maps.input_comment') %>
        <%= form.text_area :content, size: "30x4", placeholder: t('maps.within_240_characters')%>
        <%= form.submit t('maps.comment'),class: "submit_btn"%>
      </div>
    <% end %>
    <div id = "reviews_validation"></div>
  <%  end %>
</div>
