<body id = "maps_index">
  <h1>saigai__info</h1>
  <%=button_to "マップをみる", {controller: 'maps', action: 'index'}, {method: :get,class: "button"} %><br>
  <%=button_to "マップをつくる", {controller: 'maps', action: 'new'}, {method: :get,class: "button"} %><br>
</body>
