<div id="my_map"><pre id='info'></pre>
<i class="fa fa-spinner ">マップ表示準備中です</i>
<div id='map' class = 'target' data-markers="<%= @all_sites.to_json %>"></div>
</div>
<div id="init_info">
  <div id="alert_box">
    <p>初めに中心地点を登録してください</p>
    <p>1.地図上をクリック</p>
    <p>2.左のメニューからアイコンをクリック</p>
    <button id="ok_btn">OK</button>
  </div>
</div>
<div id="click_info">
  <div id="notice_box">
    <p>この地点を登録できます</p>
  </div>
</div>
