.fa-star,.fa-home,.fa-flag{
  color: orange;
}

.fa-bed,.fa-wifi,.fa-street-view,.fa-cart-arrow-down,.fa-taxi,.fa-comment-o,.fa-phone-square,.fa-gas-pump,.fa-building,.fa-restroom,.fa-battery-three-quarters,.fa-shower,.fa-bath,.fa-utensils,.fa-yen-sign,.fa-shipping-fast,.fa-charging-station,.fa-subway,.fa-gifts,.fa-mug-hot,.fa-trash-alt,.fa-bus-alt{
  color: black;
}

.fa-baby,.fa-tint,.fa-bathtub,.fa-child,.fa-question-circle,.fa-info-circle,.fa-check-square,.fa-comments,.fa-people-carry,.fa-baby-carriage{
  color: blue;
}

.fa-exclamation-triangle,.fa-plus-square,.fa-female,.fa-heartbeat,.fa-ambulance,.fa-user-md,.fa-medkit,.fa-ban,.fa-times-circle,.fa-fire{
  color: red;
}

.fa-american-sign-language-interpreting,.fa-assistive-listening-systems,.fa-wheelchair{
  color: green;
}
.fa-paw{
  color:palevioletred;
}
