body {
font-family:
-apple-system, BlinkMacSystemFont,
“Noto Sans JP”,
“Helvetica Neue”, YuGothic,
“Yu Gothic”, Verdana;
}

body div a {
  text-decoration: none;
}

#my_map{
  text-align: center;
}

#map {
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#init_info {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
  background:rgba(0, 0, 0, .4);
  z-index:3;
}

#click_info {
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
  z-index:3;
}

.direction_box {
  cursor:pointer;
	border:none;
	color:#FFF;
  background-color:#45ABB5;
	border-radius:3px;
  outline:none;
  font-size: 0.7rem;
  text-align: center;
}

#alert_box {
	margin:200px auto 0;
	text-align:center;
	padding-top:25px;
	width:25%;
	height:25%;
	background:#FFF;
  border-radius:5px;
}

#notice_box {
  position: absolute;
  left: 15%;
  top: -15%;
	margin:200px auto 0;
	text-align:center;
	padding-top:25px;
	width:20%;
	height:13%;
	background:#FFF;
  border-radius:5px;
}

.ok_btn{
	cursor:pointer;
	border:none;
	color:#FFF;
  background-color:#45ABB5;
	border-radius:5px;
  outline:none;
  padding:1px 10px;
}

#info {
visibility: hidden !important;
display: block;
position: relative;
margin: 0px auto;
width: 50%;
padding: 10px;
border: none;
border-radius: 3px;
font-size: 12px;
text-align: center;
color: #222;
background: #fff;
z-index:1;
}

#menu_bar {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
width: 7%;
min-width:80px;
position: fixed; 
z-index: 2;
top: 0;
left: 0;
background: white;
overflow-x: hidden;
transition: 0.5s;
}

.container{
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

#right_bar{
  border-radius:7px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  width: 0%;
  position: fixed;
  z-index: 3;
  top: 5%;
  right: 0;
  background:rgba(0, 0, 0, .65);
  overflow-x: hidden;
  transition: 0.5s;
  word-break: break-all;
  }

  #right_bar_head{
    border-radius:15px;
    height: auto;
    background:rgba(0, 0, 0, .3);
    color: white;
    position: absolute;
    width:100%;
  }

  #right_bar_bottom{
    color: white;
    margin-top: 520px;
    height: 100%;
    width: 100%;
    padding: 2%;
  }

  #sites_show{
  border-radius:7px;
  background-color:white;
  color: black;
  width:95%;
  margin:2%;
  height: auto;
  word-break: break-all;
  }

  #comment_show{
    margin-right: 3%;
  }

  #reviews_show{
    padding-left: 3%;
    display: flex;
    justify-content: flex-start;
  }

  .review{
    margin-right: 5px;
  }

  .review:last-child{
    margin-left: auto;
  }

  #reviews_show a{
    color: white;
    text-decoration: underline;
  }

  .items{
  height:100%;
  width:100%
  }

  .item{
  margin:10%;
  left:15%;
  }

  #notice_message{
    color: white;
    margin: 5%;
    font-size: large;
  }

  .close_btn{
    display: block;
    width: 56px;
    height: 56px;
    background:grey;
    color:white;
    text-align: center;
    border-radius: 50%;
  }

  .close_btn:focus {
    outline: none;
    }

  .submit_btn {
    font-size: large;
    display: inline-block;
    padding: 0.1em 0.5em;
    text-decoration: none;
    background-color: grey;
    color:white;
    border-radius: 15px;
  }
  
  .btn-flat-border:hover {
    background: #67c5ff;
    color: white;
  }

  #sites_validation {
    text-indent: -1.5rem;
  }

  #comment_field {
    margin: 2%;
    font-size: 14pt;
    display: block;
  }

  #comment_content{
    margin: 2%;
    width: 95%;
    font-size: 14pt;
  }

  #comments_show {
    margin: 2%;
    font-size: 14pt;
    display: block;
    overflow: scroll;
    word-break: break-all;
  }

  .admin_button{
    margin-right: 5px;
    cursor: pointer;
    border: none;
    color:white;
    background-color:grey;
    border-radius: 3px;
    outline: none;
  }

  .site_delete_field{
    margin-right:0px;
    text-align: end;
  }
  .comment_delete_field{
    margin-right:30px;
    text-align: end;
  }

  .root_button{
    cursor: pointer;
    border: none;
    color:white;
    background-color:blue;
    border-radius: 3px;
    outline: none;
    text-align: center;
    width:100%;
    margin-bottom: 5px;
  }
