  #maps_index{
  font-size:x-large;
	background:#F1BD29;
	text-align:center;
  color:white;
  height: 100%;
  width: 100%;
  }

  .button{
    width:30%;
    font-size: xx-large;
    cursor:pointer;
    border:none;
    color:#FFF;
    background-color:#45ABB5;
    border-radius:3px;
    outline:none;
  }

  .button:hover{
    background:#3A8E96;
    transition:background-color .3s;
  }

  h1{
    margin:170px 0 20px;
    font-size:5em;
    font-weight:bold;
  }

  h2{
    margin:170px 0 20px;
    font-size:3.5em;
    font-weight:bold;
  }

  h5{
    font-size:1rem;
  }

  table{
    margin:10px auto;
    text-align:center;
  }

  .maps_validation{
    font-size:1rem;
    color:red;
    margin:10px auto;
  }

  .notice{
    font-size:1rem;
    color:green;
    margin:10px auto;
  }

  select{
    text-align-last: center;
  }

  .password_field{
    position:relative;
  }

  .tooltips {
    z-index: 10;
    padding: 0.3em 0.5em;
    color: #FFFFFF;
    background-color:rgba(201, 79, 79,1.0);
    border-radius: 0.5em;
    left:50%;
    top: 200px;
    width: 100%;
    position:absolute;
    transform: translate(-50%,-100%);
    text-align: center;
  }

  @media screen and (max-width: 767px) { 
    .title{
      font-size: 4vmin;
    }
    .button{
      width:80%;
    }
    .create_map_table{
      font-size: 4vmin;
      margin-right:5%;
    }
  }

  .table{
    position:relative;
  }
