<div id ="right_bar">
  <div class = container>
    <div class = close_btn>
      <button href="javascript:void(0)" class="closebtn" id='close-nav'>x</button>
    </div>
    <%#= render 'sites/show' ,site:@site %>
    <%= render 'comments/new' ,locals:{site:@site,map:@map,comment:@comment} %>
    <%= render 'comments/index',spacer_template: 'separator',locals:{comments:@comments,site:@site} %>
  </div>
</div>
